<!DOCTYPE html>
<html lang="en" ng-app="woaApp">
  <div th:insert="header" th:remove="tag" />

  <body>

<script src="/javascript/anime.js?v=1"></script>

		
		<div id="content">
		
<script th:inline="javascript">
$(function() {
     $('#rating_box').qtip({
	
          content: /*[[${averageRatingsText}]]*/,
          position: {
               my: 'right bottom',
               at: 'left center' },
          style: { 
               name: 'dark', // Inherit from preset style
               classes: 'ui-tooltip-dark ui-tooltip-rounded' }
    });
});
</script>		


	

		<h1 class="media_title" th:text="${title.getEnglishTitle()}"></h1>

<div class="gen_profile_box">


<div id="anime_profile_box">

<img th:src="${title.getProfileImage().getSmallUrl()}" />
    		
</div>

<br clear="all">

<p>

<nav th:insert="anime_vertical_tabs" />
<div id="anime_ratings_box" th:insert="anime_ratings_box" />


<div id="anime_db_box">


  <th:block th:each="fiction : ${fictions}">
  <span th:with="numberOfChapters=${fanFictionService.getNumberOfChapters(fiction.getId())}" th:remove="tag">

<div class="fiction_list a">
    <h1><a th:href="'/artist/fiction/view_story/' + ${fiction.getId()} + '/1/' + ${fiction.getSafeUrl()}" th:text="${fiction.getTitle()}" /></h1>
    <div style="padding-left: 15px;" th:text="${fiction.getDescription()}" />
  Rated: <div th:text="${fiction.getRatingName()} + ', ' + ${numberOfChapters}" th:remove="tag" />
  <div th:if="${numberOfChapters == 1}" th:text="'chapter, '" th:remove="tag" />
  <div th:if="${numberOfChapters != 1}" th:text="'chapters, '" th:remove="tag" />  
  <div th:text="'started by ' + ${fiction.getUser().getUsername()} + ' on ' + ${#dates.format(fiction.getCreateDate(), 'MMM dd, yyyy h:mm a')}" th:remove="tag" /><br>
  </div>

</span>
<hr>
</th:block>



		<br clear="all">


</div>




		</div>

		
				
		<div id="right_column">
      		<div th:insert="login_form" th:remove="tag" />
          <div th:insert="ad_right_side" th:remove="tag" />
		</div>



  <div th:insert="footer" th:remove="tag" />

  </body>
</html>
		
		
<script>
$(function() {
       $('.reply_link').live('click', function(e) {
            var finish = $(this).attr('finish');
            var id   = $(this).attr('id');
	    $('#reply_' + id).show();
	    $('#comment_form_' + id + ' #comment_box_' + id).focus();
            if (finish != 1) {
	         return false;
            }
	});
    });

    $(function() {
       $('#add_comment').live('submit', function(e) {
            var parent = $(this).attr('parent');
	    var user   = $(this).attr('user');
	    var latest = $(this).attr('latest');
            var group  = $(this).attr('group');
	    $('#reply_' + parent).hide();

	    var message = $('textarea#comment_box_' + parent);
            var data = 'post='  + encodeURIComponent(message.val()) + '&user=' + user + '&latest=' + latest + '&group=' + group;
	    $('textarea#comment_box_' + parent).val("");

	    $.ajax({  
               url: "/groups/ajax/add_reply/" + parent,
               type: "POST",
               data: data,       
               cache: false,
               success: function(response) {

		    $.ajax({
		         url: "/groups/ajax/load_profile_replies/" + parent,
			 type: "POST",
			 data: data,
			 cache: false,
                         success: function(new_replies) {
			        $('.replies_' + parent).empty();
				$('.replies_' + parent).append(new_replies);
				$('#setup_reply_' + parent).show();
		          },
                          dataType: 'html'
                     });
		     
		}
            });
	    

            return false;
	});
    });
    
</script>	