<!DOCTYPE html>
<html lang="en" ng-app="woaApp">
	<div th:insert="header" th:remove="tag" />

	<body>

<script>
$(function() {
    // $('[image_desc]').qtip({
    
    $('[image_desc]').each(function() {
		$(this).qtip({
	
      content: $(this).attr('image_desc'),
      position: {
               my: 'bottom center',
               at: 'top center' },
      style: { 
      name: 'dark', // Inherit from preset style
      classes: 'ui-tooltip-dark ui-tooltip-rounded'
   }
    });
    });
});
</script>


		<div id="content">
		

<div id="new_image_box">
<p><h2>Latest Gallery Images</h2></p>



<br clear="all">
</div>


		</div>
		
				
		<div id="right_column">
            <div th:insert="login_form" th:remove="tag" />
      		<div th:insert="ad_right_side" th:remove="tag" />			
		</div>

	<div th:insert="footer" th:remove="tag" />

	</body>
</html>		